@font-face {
  font-family: Perfect;
  src: url(../font/PerfectLova.otf);
}
@font-face {
  font-family: Vainilla;
  src: url(../font/Vainilla.otf);
}
@font-face {
  font-family: Hellobean;
  src: url(../font/Hellobean.otf);
}
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

header {
  background-color: white;
}

footer {
  background-color: white;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 15px;
}

div {
  padding: 30px;
  margin: 0px;
}

li {
  list-style-type: none;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  font-family: Vainilla;
  color: #A62E4E;
}

.item {
  margin: 5px;
  width: 30%;
  height: 30%;
}

.flex-galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F2D5C4;
}

.color-formulario {
  background-color: #F2D5C4;
  justify-content: center;
}

.input-boton {
  background-color: #d8297a;
  padding: 25px;
  border-radius: 100px;
  color: #F2D5C4;
  border-color: white;
  font-size: 1.5rem;
}

.img-recetas {
  width: 50%;
  height: 50%;
}

.color {
  background-color: #D9115A;
}

.img-carousel {
  width: 50%;
  height: 50%;
}

.content-carousel {
  background-color: #F2D5C4;
  width: 100%;
  text-align: center;
}

button {
  border: none;
  background-color: transparent;
  transition: 0.5s;
}

button:hover {
  transform: scale(1.3);
}

a:hover {
  color: rgb(233, 3, 103);
}

.div-galeria {
  text-align: center;
}

.alineacion, .contenedor .procedimiento, .contenedor .titulo {
  align-content: stretch;
  align-content: center;
  justify-self: stretch;
}

.contenedor {
  display: grid;
  background: #F2D5C4;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 0.5fr;
  grid-template-areas: "titulo         titulo" "ingredientes   imagen" "procedimiento  procedimiento";
  justify-content: center;
  align-items: center;
}
.contenedor .titulo {
  background: #F2D5C4;
  grid-column-start: titulo;
  grid-column-end: titulo;
}
.contenedor .procedimiento {
  background: #F2D5C4;
  grid-column-start: procedimiento;
  grid-column-end: procedimiento;
}

.contenedor-galeria {
  background-color: #F2D5C4;
  display: grid;
  grid-template-columns: repeat(2, [col-start]) 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Perfect;
  font-size: 6rem;
  text-align: center;
  color: #d8297a;
}

p {
  padding: 10px;
  font-family: Vainilla;
  font-weight: bold;
  font-size: 2.5rem;
  color: black;
  margin-right: 60px;
  margin-left: 60px;
}

h2 {
  padding: 20px;
  text-align: center;
  font-family: Vainilla;
  font-size: 4rem;
  color: #5c230a;
}

h3 {
  font-family: PerfectLova;
  font-size: 2.5rem;
  text-align: center;
}

.fontfamily-fontsize, .p-titulo, .h3-titulo {
  font-family: Vainilla;
  font-size: 2.5rem;
}

.h3-titulo {
  color: #d8297a;
}

h4 {
  font-family: PerfectLova;
  font-size: 2rem;
  color: black;
  text-align: center;
}

.p-texto {
  font-family: Vainilla;
  font-size: 2rem;
  color: rgb(124, 44, 44);
}

a {
  color: #ff0077;
  font-family: Vainilla;
}

label {
  font-family: PerfectLova;
  font-size: 2rem;
  color: rgb(124, 44, 44);
}

.flex-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background-color: white;
}

.box-footer {
  width: 200px;
  text-align: center;
}

.flex-container {
  background-color: #F2D5C4;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-image {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  h1 {
    font-family: Perfect;
    font-size: 3rem;
    text-align: center;
    color: #d8297a;
  }
  p {
    padding: 10px;
    font-family: Vainilla;
    font-weight: bold;
    font-size: 1rem;
    color: black;
    margin-right: 10px;
    margin-left: 10px;
  }
  h2 {
    text-align: center;
    font-family: Vainilla;
    font-size: 3rem;
    color: #5c230a;
  }
  h3 {
    font-family: PerfectLova;
    font-size: 1.2rem;
    text-align: center;
  }
  .h3-titulo {
    color: #d8297a;
    font-family: Vainilla;
    font-size: 1.2rem;
  }
  h4 {
    font-family: PerfectLova;
    font-size: 2rem;
    color: black;
    text-align: center;
  }
  .p-titulo {
    font-family: Vainilla;
    font-size: 2.5rem;
  }
  .p-texto {
    font-family: Vainilla;
    font-size: 2rem;
    color: rgb(124, 44, 44);
  }
  a {
    font-size: 13px;
  }
  .img-carousel {
    width: 100%;
    height: 100%;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-family: Perfect;
    font-size: 3rem;
    text-align: center;
    color: #d8297a;
  }
  p {
    padding: 10px;
    font-family: Vainilla;
    font-weight: bold;
    font-size: 2rem;
    color: black;
    margin-right: 60px;
    margin-left: 60px;
  }
  h2 {
    padding: 20px;
    text-align: center;
    font-family: Vainilla;
    font-size: 3rem;
    color: #5c230a;
  }
  h3 {
    font-family: PerfectLova;
    font-size: 0.9rem;
    text-align: center;
  }
  .h3-titulo {
    color: #d8297a;
    font-family: Vainilla;
    font-size: 0.9rem;
  }
  h4 {
    font-family: PerfectLova;
    font-size: 1rem;
    color: black;
    text-align: center;
  }
  .p-titulo {
    font-family: Vainilla;
    font-size: 1.5rem;
  }
  .p-texto {
    font-family: Vainilla;
    font-size: 1rem;
    color: rgb(124, 44, 44);
  }
  a {
    font-size: 17px;
  }
  .img-carousel {
    width: 100%;
    height: 100%;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-family: Perfect;
    font-size: 6rem;
    text-align: center;
    color: #d8297a;
  }
  p {
    padding: 10px;
    font-family: Vainilla;
    font-weight: bold;
    font-size: 2.5rem;
    color: black;
    margin-right: 60px;
    margin-left: 60px;
  }
  h2 {
    padding: 20px;
    text-align: center;
    font-family: Vainilla;
    font-size: 4rem;
    color: #5c230a;
  }
  h3 {
    font-family: PerfectLova;
    font-size: 2.5rem;
    text-align: center;
  }
  .h3-titulo {
    color: #d8297a;
    font-family: Vainilla;
    font-size: 2.5rem;
  }
  h4 {
    font-family: PerfectLova;
    font-size: 2rem;
    color: black;
    text-align: center;
  }
  .p-titulo {
    font-family: Vainilla;
    font-size: 2.5rem;
  }
  .p-texto {
    font-family: Vainilla;
    font-size: 2rem;
    color: rgb(124, 44, 44);
  }
  a {
    font-size: 20px;
  }
}/*# sourceMappingURL=styless.css.map */