@font-face {

    font-family: Perfect;
    src: url(../font/PerfectLova.otf);

}

@font-face {
    font-family: Vainilla;
    src: url(../font/Vainilla.otf);
}

@font-face {
    font-family: Hellobean;
    src: url(../font/Hellobean.otf);
}